ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* ============ common styles ============ */

/* ============ Header styles ============ */
.page-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.web-logo {
  color: #2e2f42;
}
.page-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-nav:hover,
.page-nav:focus {
  color: #404bbf;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ============ Header styles ============ */

/* ============ Hero styles ============ */
.hero {
  background-color: #2e2f42;
}
.hero-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.buttom-order {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}
.buttom-order:hover,
.buttom-order:focus {
  background-color: #404bbf;
}
/* ============ Hero styles ============ */

/* ============ Skills Style ============ */
.skills-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.skills-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ============ Skills Style ============ */

/* ============ Team Style ============ */
.team {
  background-color: #f4f4fd;
}
.team-page {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-item {
  background-color: #ffffff;
}

.team-head {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* ============ Team Style ============ */

/* ============ Portfolio ============ */
.port-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.port-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.port-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ============ Portfolio ============ */

/* ============ Footer ============ */
footer {
  background-color: #2e2f42;
}
.footer-page {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* ============ Footer ============ */
